.Formulario{
    background-color: #000000;
    text-align: center;
    margin: 0 auto;
    margin-top: 3em;
    border: 2px solid #CC5500;
    border-radius: 2PX;
}

.contenidoFormulario{
    margin-top: 6%;
    margin-bottom: 6%;
    
}

.inputs, .TextareaForm{
    background-color: #FFFFFF;
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    
}

.inputCointainer{
 height: 4em;
 margin-top: 2%;
 margin-bottom: 2%;
}

.textareaContainer{
    height: 18em;

}


.btEnviarConsulta{
    background-color: #CC5500;
    color: black;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media(min-width: 768px){
   
    .contenidoFormulario{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    align-items: center;

   }
   .contenedorDatosForm{
    width: 50%;
    height: 15em;
    display: flex;
    flex-direction: column;


   }
   
   .inputCointainer{
    margin-top: none; 
    margin-bottom: none;
 }
   
   .inputs{
       width: 80%;
       margin: 0 auto;
       border-radius: 5px;
       padding: 5px;     
    }
    
    .textareaContainer{
     width: 50%;
     display: flex;
     align-items: center;
     margin-bottom: 1em;
    }

    .textareaContainer textarea{   
        width: 90%;
        height: 14em;

    }

}

.errores{
    margin-top: 2px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: #FF3333;
    padding: 0;
    
}

