.contenedorPrincipal{
    width: 94% !important;
    margin: 0 auto !important;
}

.contTituloPrincipal {
    width: 90% !important;
    padding-top: 9em;

}

.contTituloPrincipal h1{
    font-weight: 700;
}

.contTituloPrincipal h2{
    margin-top: 1em;
    text-align: center;
    font-weight: 500;
}
.contTituloPrincipal h3{
    font-weight: 500;
    text-align: center;
    margin-top: 0.5em;

}

.linea {
    border-left: 3px inset #CC5500;
}

.contTitulo2 {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 4em;
    display: flex;
    align-items: center;
    text-align: center;

}

.cuadrado {
    width: 6em;
    height: 7em;
    position: relative;
    margin: 0 auto;
    border: 1px solid #CC5500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textServicio {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.contTitulo2 h2 {
    font-size: 37px;
    color: white;
}

.contenedorDeServicios{
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto !important;
    align-items: center;
  }

.contTipoServicio {
    margin: 0 auto;
    margin-top: 2em; 
    text-align: center;
}

.contTipoServicio h3, .contTipoServicio h6, .contTenedorConstructor h3{
    text-align: left;
    margin-top: 0.8em;
}

.contTipoServicio img {
    object-fit:cover;
    width: 100%;
    border-radius: 7px;
    /* Si quiero puedo corregir el max-height */
    max-height: 15em; 
    margin: 0 auto;
}

.contTenedorConstructor{
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.lineaSeparadora {
    width: 20%;
    border: 1px solid #CC5500;
    margin-bottom: 1em;
}
.contTenedorConstructor img{
    object-fit: contain;
    height: 14em;
    max-width: 100%;
    margin: 0 auto;
}

.contenedorImgFondo{
background-image: url("../../Fotos//Logo.png");
    background-size: cover;
    object-fit: scale-down; 
    max-height: 15em; 
    background-position: center top;
    background-color: blue;
    
}

 
.contTenedorConstructor img{
    height: 15em;
 }



@media (min-width : 768px) {
    .linea {
        border-left: 6px inset #CC5500;
    }   

    .contTituloPrincipal h1{
        font-weight: 700;
        text-align: center;
    }

    .contTituloPrincipal h2{
        margin-top: 1em;
        text-align: center;
        font-weight: 500;
    }
    .contTituloPrincipal h3{
        font-weight: 500;
        text-align: center;
        margin-top: 0.5em;
    }
    .contTitulo2 {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 8em;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .contTitulo2 h2 {
        font-size: 48px;
        color: white;
    }

    .cuadrado {
        width: 6em;
        height: 8em;
        border: 2px solid #CC5500;
    }
    
    .contTipoServicio{   
        height: 26em;
        margin-top: 1em !important;  
    }

    .contTipoServicio img {
        max-height: none; 
        width: 97%;
        height: 16em;
        margin-left: 0 !important;
        
    }
  
    .contTenedorConstructor{
        height: 26em;
        margin-top: 1em !important;     
       
   }

   .contenedorImgFondo{
    height: 16em;
   }
 
   .contTenedorConstructor img{
       height: 22em;
    }
}