.barraNavegacion{
 position: fixed;
 top: 0;
 width: 100%; 
 height: 10%;
 z-index: 1000;
 background-color: black;

}

.barraNavegacion img{
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;    

}
.contenedorDivs{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
#iconoMenu{
    height: 80%;
    margin-left: auto;
    width: 50px;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color: #CC5500;
    display: flex;
    align-items: center;  
    
}

.menuDesplegable{
    background-color: #000000;
    list-style-type: none;
    /* padding-left: 15px; */
    padding: 0;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    border-top:1px solid#CC5500;
}

.menuDesplegable li{
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: black;
    margin: 0 auto;
    padding: 7px;
    border-bottom: 1px solid #333333;
   
}

.contenedorDeLi{
    background-color: red;
}


.links{
    color: #FFFFFF;
    text-decoration: none;
}
