.section1{
    padding-top: 9em;
}

.contSection1{
    width: 90%;
    margin: 0 auto;
}

.lineaNaranja{
    border-left: 3px inset #CC5500;
}

.tituloPpal{
    text-align: left;
}

.DescripcionQuienesSomos{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10%;
}

.contenedorAsesoramiento{
    margin-top: 4em;
}

.contSectionAsesoramiento{
    width: 100%;
    margin: 0 auto;
}

.backgroundImage{
background-image: url("../../Fotos//FotoAsesoramiento.jpeg");
background-size: cover;
background-position: center;
position: relative;
border-left: 2px solid #CC5500;
object-fit:scale-down;
}

.contenedorAsesoramiento h2, .contenedorAsesoramiento h3, .contenedorAsesoramiento h4,
 .contenedorAsesoramiento h5, .contenedorAsesoramiento h6{
    font-weight: 800;
}

.contenedorAsesoramiento h4{
    padding: 10px;
}

.contenedorBoton{
    width: 100%;
    display: flex;
    margin-top: 3vh;
    align-items: center;
}

.linkkk{
    margin: 0 auto;
}
.BtComunicate{
    background-color: #CC5500;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #808080;
    color: #F5F5F5;
    margin: 0 auto !important;
}


@media (min-width: 768px){
    .section1{
       width: 90%;
    }

    .DescripcionQuienesSomos{
        width: 87%;
        margin-top: 3em;
        
    }
    
    .backgroundImage{
        background-size:auto;
        background-position: center;
        position: relative;
        border-left: 4px solid #CC5500;
        object-fit: scale-down;
        }

        .contenedorAsesoramiento{
            width: 87%;
           
        }
 
        .contenedorAsesoramiento h4{
           font-size: 2em;
        }

        .contenedorAsesoramiento h6{
            font-size: 1.3em;
        }



}

