.contenedorPrincipal {
    width: 90%;
    margin: 0 auto;
}

.section1 {
    padding-top: 9em;
    display: flex;
    position: relative;

}

.tituloPpal {
    margin: 0 auto;
    margin-left: 1.5em;
    position: relative;
}

.lineaNaranja {
    position: absolute;
    width: 3px;
    bottom: 0.6em;
    height: 40px;
    background-color: #CC5500;
    margin-left: 0.5em;

}

.DescripcionQuienesSomos {
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 1.5em;

}

.contenedorAsesoramiento {
    margin-top: 4em;
}

.contSectionAsesoramiento {
    width: 100%;
    margin: 0 auto;
}

.backgroundImage {
    background-image: url("../../Fotos//FotoAsesoramiento.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-left: 2px solid #CC5500;
    object-fit: scale-down;
}

.contenedorAsesoramiento h2,
.contenedorAsesoramiento h3,
.contenedorAsesoramiento h4,
.contenedorAsesoramiento h5,
.contenedorAsesoramiento h6 {
    font-weight: 800;
}

.contenedorAsesoramiento h4 {
    padding: 10px;
}

.contenedorBoton {
    width: 100%;
    display: flex;
    margin-top: 3vh;
    align-items: center;
}

.linkkk {
    margin: 0 auto;
}

.BtComunicate {
    background-color: #CC5500;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #808080;
    color: #F5F5F5;
    margin: 0 auto !important;
}

@media (min-width: 768px) {

    .section1 {
        width: 100%;
    }
    
    .lineaNaranja{
     margin-left: 30%;
     height: 55px;
    }

    .tituloPpal {
        margin: 0 auto;
    }

    .DescripcionQuienesSomos {
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
        text-align: center;
        
    }

    .backgroundImage {
        border-left: 4px solid #CC5500;
        object-fit: scale-down;
    }

    .contenedorAsesoramiento {
        width: 70%;
    }

    .contenedorAsesoramiento h4 {
        font-size: 2em;
    }

    .contenedorAsesoramiento h6 {
        font-size: 1.3em;
    }

    .contenedorBoton {
        margin-top: 2em;
    }


}