.contenedorPpal {
    width: 85%;
    margin: 0 auto;
}

.tituloPpal {
    margin-top: 9em;
    display: flex;
    align-items: center;
    border-left: 3px solid #CC5500 ;
    padding-left: 1.5em;
}

/* .lineaNaranja {
    border-left: 3px inset #CC5500;
    height: 100%;
} */

.contenedorSubtitulo {
    margin: 0 auto;
    margin-top: 6vh;
    width: 90%;
}

.conenedorFormasContacto {
    margin: 0 auto;
}

.contenedorContacto {
    background-color: #001F3F;
    margin: 0 auto;
    text-align: center;
    margin-top: 5em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CC5500;
    border-radius: 5px;
}

.contenedorContacto h4 {
    font-weight: bold;
    
}

.contenedorContacto i{
    color: #F5F5F5;
    font-size: 14px;

}
@media (min-width : 768px) {

    .contenedorPpal {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .contenedorSubtitulo {
        margin: 0 auto;
        margin-top: 5em;
        width: 90%;
        text-align: left;
       
    }
    
}